<!-- <button (click)="addtocart()"> add to card.</button>
<br><br>

<input type="text" value="myinputtext" (click)="onInputClick($event)">

<br><br>
<button value="Laptop"  (click)="onAddCart($event)">Laptop</button>

<button value="WashingMachine"  (click)="onAddCart($event)">WashingMachine</button>
<button value="TV"  (click)="onAddCart($event)">TV</button>
{{msg}} -->

    <input #inputInfo type="text" value="Cognegents" name="Rahul" >
    <button (click)="getInputInfo(inputInfo)"> Get info </button>