.topnav{
  background: #488edd;
  color: #fff; 
  height: 50px; 
  font-family: Arial, Helvetica, sans-serif;
  
}
.brand{
    float: left;
    width: 20%; 
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0px;
}
.toplinks{
    float: right;
    width: 80%;
    text-align: right;
    margin-top:20px;
}
.toplinks a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none; 
   
}
.toplinks a:hover{
    color: #000000;
    margin: 0 10px;
    
}
.clear{
    clear: both;
}